html {
    background-color: #444;
}

.spinner {
    width: 100px;
    height: 100px;
    border: 8px solid #ccc;
    border-right-color: #f90;
    border-radius: 50%;
    margin: 30px;
}

.spinnerCSS {
    /*animation: spinMe 1s forwards infinite linear, scaleMe 1s forwards infinite linear;*/
}

@keyframes spinMe {
    to {
        transform: rotate(359deg);
    }
}

@keyframes scaleMe {
    to {
        transform: scale(0.8);
    }
}
